<form action='/links' method='POST'>
Enter website name  <input type="text" name="title">
Enter URL  <input type="text" name="url">
Enter tag <input type="text" name="tag">
  <input type="submit" value="Submit">
</form>
