<form action='/links' method='POST'>
Enter website name  <input type="text" name="title">
Enter URL  <input type="text" name="url">
Enter Tags  <input type="text" name="tags">
  <input type="submit" value="Submit">
</form>
